.popup__input_bot {
  margin: 0 auto;
  /*width: 100%;
  max-width: 358px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  margin-top: 13px;
  /* margin-bottom: 48px; */
  padding-bottom: 13px;
}
@media screen and (max-width: 786px) {
  .popup__input_bot {
    margin-top: 30px;
    margin-bottom: 45px;
    /* max-width: 238px; */
  }
}
