.profile__avatar_type_edit-button{

    /* position: absolute; */
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    padding: 0;
    border: none;
    /* margin-right: 30px; */
    border-radius: 50%;
    /* overflow: hidden; */
    /* opacity: 0; */
    cursor: pointer;
    /* transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
    /* opacity: 0.1; */
  }
  /* .profile__avatar_type_edit-button:hover {
    background: url("../../img/avatarEdit.png") center no-repeat;
    opacity: 0;
  } */