.popup__input {
  /* margin: 0; */
  padding: 0;
  margin: 0 36px 0;
  width: 100%;
  max-width: 358px;
  height: 27px;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 786px) {
  .popup__input {
    max-width: 238px;
    margin: 0 22px 0;
  }
}
