.element__delete {
  background: transparent url("../../../img/Delete.png");
  background-repeat: no-repeat;
  padding: 0;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
}