.popup__container {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  max-width: 430px;
  border-radius: 10px;
  color: #000;
  position: relative;
}
@media screen and (max-width: 786px) {
  .popup__container {
    max-width: 282px;
    max-height: 322px;
  }
}