.profile__about {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 137.5%;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 350px;
}

@media screen and (max-width: 768px) {
  .profile__about {
    max-width: 200px;
    text-align: center;
    font-size: 14px;
    justify-self: center;
  }
}