.popup__name {
  margin: 0 auto;
  margin-top: 54px;
  /* padding: 0; */
  padding-bottom: 13px;
  width: 100%;
  max-width: 358px;
  height: 14px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 786px) {
  .popup__name {
    margin-top: 75px;
    max-width: 238px;
  }
}