.footer__author {
  margin: 0;
  padding: 66px 0 60px 0;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 768px) {
  .footer__author {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
@media screen and (max-width: 320px) {
  .footer__author {
    font-size: 14px;
    line-height: 17px;
  }
}