.popup__close {
  background: transparent url("../../../img/CloseIcon.png");
  background-repeat: no-repeat;
  padding: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 786px) {
  .popup__close {
    background: transparent url("../../../img/CloseIconMobile.png");
    width: 20px;
    height: 20px;
    top: -26px;
    right: 0;
  }
}