.profile__name {
  margin: 0;
  padding: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 450px;
}
@media screen and (max-width: 768px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}

