.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
  cursor: default;
}
@media screen and (max-width: 768px) {
  .profile__avatar {
    margin: 0;
  }
}