.element {
  display: grid;
  grid-template-rows: 2fr min-content;
  grid-template-columns: 1fr min-content;
  grid-template-areas:
    "pic pic"
    "text heart";
  border-radius: 10px;
  width: 100%;
  min-height: 361px;
  background-color: #fff;
  overflow: hidden;
}
